[submodule "lib/mockturtle"]
	path = lib/mockturtle
	url = https://github.com/zfchu/mockturtle
[submodule "RTLAutoOpt/harm/harm"]
	path = RTLAutoOpt/harm/harm
	url = https://github.com/SamueleGerminiani/harm